modules = ["python-3.10", "web:v2-20230623-0b7a606"]
run = "python3 -m http.server 8000"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "python3 -m http.server 8000"]

[[ports]]
localPort = 10
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
