



.menu {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: #99ff66;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #4a7023;
    border-radius: 5px;
    transition: background 0.3s;
}

.menu a:hover {
    background: #003300;
}

footer {
        position: absolute;
        left : 40% ;
        bottom: 0;
        text-align: center;
        color: #7cfc00;
        font-size: 14px;
}